# ===== Spring =====
SPRING_PROFILES_ACTIVE=dev

# ===== MariaDB root =====
MARIADB_ROOT_PASSWORD=root-secret

# ===== DB Name =====
DB_NAME=ec_dev

# ===== App Users =====
EC_APP_USERNAME=ec_app
EC_APP_PASSWORD=app-pass

# ===== Flyway Users =====
EC_MIGRATE_USERNAME=ec_migrate
EC_MIGRATE_PASSWORD=migrate-pass